<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406667445093-9t7mththi68cfbhjmjcc19svjc1v2s90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406667445093-9t7mththi68cfbhjmjcc19svjc1v2s90</string>
	<key>API_KEY</key>
	<string>AIzaSyCURAoLm2xAgY6SgYA5geX04vZ-ANkzRpM</string>
	<key>GCM_SENDER_ID</key>
	<string>406667445093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>simpleapps.com.gupshop.dev</string>
	<key>PROJECT_ID</key>
	<string>gupshup-dev-d7345</string>
	<key>STORAGE_BUCKET</key>
	<string>gupshup-dev-d7345.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:406667445093:ios:9701b4f31a60a48da6d78c</string>
	<key>DATABASE_URL</key>
	<string>https://gupshup-dev-d7345.firebaseio.com</string>
</dict>
</plist>
