<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768807460500-4b90t7h9jm39b5i2jq3un3i0lc75ehh7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768807460500-4b90t7h9jm39b5i2jq3un3i0lc75ehh7</string>
	<key>API_KEY</key>
	<string>AIzaSyCiCIRNRGzBmvRikhdijBPZq5-RiIqW0Zc</string>
	<key>GCM_SENDER_ID</key>
	<string>768807460500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>simpleapps.com.gupshop</string>
	<key>PROJECT_ID</key>
	<string>gupshup-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>gupshup-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768807460500:ios:b2cab93cdb417285675e81</string>
	<key>DATABASE_URL</key>
	<string>https://gupshup-prod.firebaseio.com</string>
</dict>
</plist>